{% extends 'base.html' %}

{% block title %}Home - Meat Freshness Predictor{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center text-danger">How to Deal with Spoiled Meat</h1>
    <p class="lead text-center text-secondary">Meat that has spoiled poses a major health danger. Here are some vital pointers for handling it securely.</p>

    <div class="container mt-3 bg-light border rounded rou">
        <div class="d-flex justify-content-center">
            <div class="mt-4">
                <h2>How to Identify Spoiled Meat</h2>
                <p class="text-secondary">Slimy texture, bad smell, and dull color are common characteristics of spoiled meat. Make sure the meat is fresh by inspecting it before cooking.</p>
        
                <h2>Secure Elimination</h2>
                <p class="text-secondary">If you suspect that your meat has gone bad, it's crucial to dispose of it safely. To help prevent bacteria and odors from spreading, place the spoilt meat in a sealed bag.</p>
        
                <h2>Cleaning Up</h2>
                <p class="text-secondary">Thoroughly clean any surfaces that came into contact with the devastated meat after disposing of it. Cutting boards, knives, and worktops can be cleaned with hot, soapy water or a bleach solution.</p>
        
                <h2>Stay Informed</h2>
                <p class="text-secondary">Recognizing the risks associated with spoilt meat can</p>
            </div>
        </div>
    </div>
    

    <div class="text-center mt-4">
        <a href="https://www.cdc.gov/food-safety/about/?CDC_AAref_Val=https://www.cdc.gov/foodsafety/foodborne-germs.html" class="btn btn-danger">Learn About Food Safety</a>
    </div>
</div>
{% endblock %}